.Flex-container {
    display: flex;
    flex-direction: column;
}

/* Jag stal allting fram till keyframes från internet för att göra min slideshow. Jag må ha ändrat små saker
*/

/* Skapar en hero image med text*/
.hero-image {
    background-image: linear-gradient(rgba( 0,0,0,0.5),rgba(0,0,0,0.5)), url("trade routes.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
}

/* Fixar med hur texten ser ut på hero bilden
*/
.hero-text{
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: x-large;
}

/* Ett id som ger "Hero texten" en vit färg för att bakgrunden var mörkare*/
#herotext {
    color: white;
}

.AboutMeContainer{
    background-color: gray;
    text-align: center;
    background-size: auto;
    margin: auto;
    width: 95%;
    padding: 10px;
}

/* Lägger till max bredden samt fastställer containerns position*/
.ProjectContainer{
    max-width: 1000px;
    position: relative;
    margin:auto;
}

/* Gör så att slideshowen visar någonting innan det "aktiveras" i javascript filen*/
.Slide{
    display: none;
}

/* Lägger till vart knapparna som */
.ClickLeft, .ClickRight{
    cursor: pointer;
    position: relative;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.ClickRight{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.ClickLeft:hover, .ClickRight:hover{
    background-color: rgba( 0,0,0,0.8);
}

.text{
    color:black;
    font-size: 15px;
    padding: 8px 12px;
    position: relative;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover{
    background-color: #717171;
}

.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade{
    from{opacity: .4;}
    to{opacity: 1;}
}

.ImageCenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

h1{
    color: black;
}

p{
    color: black;
}