html{
    scroll-behavior: smooth;
}

body{
    font-family: monospace;
    margin: 0;
    padding: 0;
}


.Flex-container {
    display: flex;
    flex-direction: column;
}

/* Skapar en hero image med text*/
.hero-image {
    background-image: linear-gradient(rgba( 0,0,0,0.1),rgba(0,0,0,1)), url("trade routes.png");
    background-position: center;
    background-size: cover;
    font-size: 4vw;
}

.AboutMeContainer{
    background-color: rgb(174, 34, 67);
    text-align: center;
    background-size: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 4vw;
    color: white;
}

/* Gör så att slideshowen inte visar någonting innan det "aktiveras" i javascript filen*/
.Slide{
    display: none;
}

.ClickLeft, .ClickRight{
    cursor: pointer;
    color: black;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.ClickRight{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.ClickLeft:hover, .ClickRight:hover{
    background-color: rgba( 0,0,0,0.8);
}

.text{
    color:black;
    font-size: 4vw;
    padding: 8px 0px;
    position: relative;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover{
    background-color: #717171;
}

.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade{
    from{opacity: .4;}
    to{opacity: 1;}
}

.ImageCenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.paragraf{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    padding: 0em 2em;
}

p{
    display: flex;
    flex-direction: column;
    color: white;
}

.hero-text{
    text-align: center;
    color: white;
}

h1{
    color: white;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input{
    border: solid;
    margin: 6px 0px;
}

button{
    margin: 1vw;
    padding: 2em;
}

.ContactContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0em 10em;
}

.ProjektContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

label{
    font-size: 3vw;
}

#ContactHeader{
    color: black;
    font-size: 6vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Footer{
    background-color: black;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.FooterText{
    color: white;
    font-size: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.FooterButton{
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.FooterButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#SubmitButton:hover{
    background-color: #717171;
}