html{
    display: flex;
    flex-direction: column;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.Content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: cornsilk;
    background-color: maroon;
    height: auto;
    flex-wrap: wrap;
    padding: 10px;
}

.output{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    border: solid;
    border-color: cornsilk;
    border-width: 5px;
}

li{
    margin: 10px 15px;
}

ul{
    padding: 0%;
    display: flex;
    flex-direction: column;
}
 
.Name{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Email{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Message{
    display: flex;
    flex-direction: column;
    align-items: center;
}